In [2]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\GAMER\\Documents\\Estadistica\\Multivariado'

In [4]:
# df_2019 = pd.read_csv("C:\\Users\\GAMER\\Documents\\Estadistica\\Bases_de_datos\\2019.csv",sep=",")
# df_2018 = pd.read_csv("C:\\Users\\GAMER\\Documents\\Estadistica\\Bases_de_datos\\2018.csv",sep=",")
# df_2017 = pd.read_csv("C:\\Users\\GAMER\\Documents\\Estadistica\\Bases_de_datos\\2017.csv",sep=",")
# df_2016 = pd.read_csv("C:\\Users\\GAMER\\Documents\\Estadistica\\Bases_de_datos\\2016.csv",sep=",")
# df_2015 = pd.read_csv("C:\\Users\\GAMER\\Documents\\Estadistica\\Bases_de_datos\\2015.csv",sep=",")

In [5]:
# df_2019.info()
# df_2019

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [6]:
# df_2019['year'] = 2019
# df_2018['year'] = 2018
# df_2017['year'] = 2017
# df_2016['year'] = 2016
# df_2015['year'] = 2015

In [15]:
# df_2019 = df_2019.set_index(['Country or region']).sort_index()
# df_2018 = df_2018.set_index(['Country or region']).sort_index()
# df_2017 = df_2017.set_index(['Country']).sort_index()
# df_2016 = df_2016.set_index(['Country']).sort_index()
# df_2015 = df_2015.set_index(['Country']).sort_index()

# df_2019 = df_2019.drop(['Overall rank'],axis=1)
# df_2018 = df_2018.drop(['Overall rank'],axis=1)
# df_2017 = df_2017.drop(['Happiness.Rank'],axis=1)
# df_2016 = df_2016.drop(['Happiness Rank'],axis=1)
# df_2015 = df_2015.drop(['Happiness Rank'],axis=1)

# df_2018 = df_2018.drop(['Whisker.high','Dystopia.Residual'],axis=1)
# df_2016 = df_2016.drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'],axis=1)
# df_2017 = df_2017.drop(['Whisker.high','Whisker.low','Dystopia.Residual'],axis=1)
# df_2015 = df_2015.drop(['Region','Standard Error','Dystopia Residual'],axis=1)


# df_2019 = df_2019.reset_index()
# df_2018 = df_2018.reset_index()
# df_2017 = df_2017.reset_index()
# df_2016 = df_2016.reset_index()
# df_2015 = df_2015.reset_index()

# df_2019 = df_2019.rename(columns={'Country or region':'Country',
#                                   'Score':'Score',
#                                   'GDP per capita':'GDP.per.capita',
#                                   'Social support':'Social.support',
#                                   'Healthy life expectancy':'Healthy.life.expectancy',
#                                   'Freedom to make life choices':'Freedom.to.make.choices',
#                                   'Generosity':'Generosity',
#                                   'Perceptions of corruption':'Perceptions.corruption',
#                                   'year':'year'})

# df_2018 = df_2018.rename(columns={'Country or region':'Country',
#                                   'Score':'Score',
#                                   'GDP per capita':'GDP.per.capita',
#                                   'Social support':'Social.support',
#                                   'Healthy life expectancy':'Healthy.life.expectancy',
#                                   'Freedom to make life choices':'Freedom.to.make.choices',
#                                   'Generosity':'Generosity',
#                                   'Perceptions of corruption':'Perceptions.corruption',
#                                   'year':'year'})

# df_2017 = df_2017.rename(columns={'Country':'Country',
#                                   'Happiness.Score':'Score',
#                                   'Economy..GDP.per.Capita.':'GDP.per.capita',
#                                   'Family':'Social.support',
#                                   'Health..Life.Expectancy.':'Healthy.life.expectancy',
#                                   'Freedom':'Freedom.to.make.choices',
#                                   'Generosity':'Generosity',
#                                   'Trust..Government.Corruption.':'Perceptions.corruption',
#                                   'year':'year'})

# df_2016 = df_2016.rename(columns={'Country':'Country',
#                                   'Happiness Score':'Score',
#                                   'Economy (GDP per Capita)':'GDP.per.capita',
#                                   'Family':'Social.support',
#                                   'Health (Life Expectancy)':'Healthy.life.expectancy',
#                                   'Freedom':'Freedom.to.make.choices',
#                                   'Generosity':'Generosity',
#                                   'Trust (Government Corruption)':'Perceptions.corruption',
#                                   'year':'year'})

# df_2015 = df_2015.rename(columns={'Country':'Country',
#                                   'Happiness Score':'Score',
#                                   'Economy (GDP per Capita)':'GDP.per.capita',
#                                   'Family':'Social.support',
#                                   'Health (Life Expectancy)':'Healthy.life.expectancy',
#                                   'Freedom':'Freedom.to.make.choices',
#                                   'Generosity':'Generosity',
#                                   'Trust (Government Corruption)':'Perceptions.corruption',
#                                   'year':'year'})

# df_2018

,Country,Score,GDP.per.capita,Social.support,Healthy.life.expectancy,Freedom.to.make.choices,Generosity,Perceptions.corruption,year
0,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
1,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
2,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018
3,Angola,3.795,0.730,1.125,0.269,0.000,0.079,0.061,2018
4,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054,2018
...,...,...,...,...,...,...,...,...,...
151,Venezuela,4.806,0.996,1.469,0.657,0.133,0.056,0.052,2018
152,Vietnam,5.103,0.715,1.365,0.702,0.618,0.177,0.079,2018
153,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
154,Zambia,4.377,0.562,1.047,0.295,0.503,0.221,0.082,2018
155,Zimbabwe,3.692,0.357,1.094,0.248,0.406,0.132,0.099,2018

In [16]:
df = pd.concat([df_2019,df_2018,df_2017,df_2016,df_2015]).sort_index()

In [18]:
# df = df.reset_index()
df = df.set_index(['Country']).sort_index()

In [83]:
df_final = df.drop(['Country'],axis=1)

In [84]:
df_final

,Score,GDP.per.capita,Social.support,Healthy.life.expectancy,Freedom.to.make.choices,Generosity,Perceptions.corruption,year
0,3.203,0.350000,0.517000,0.361000,0.000000,0.158000,0.025000,2019
1,3.794,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2017
2,3.575,0.319820,0.302850,0.303350,0.234140,0.365100,0.097190,2015
3,3.632,0.332000,0.537000,0.255000,0.085000,0.191000,0.036000,2018
4,3.360,0.382270,0.110370,0.173440,0.164300,0.312680,0.071120,2016
...,...,...,...,...,...,...,...,...
777,3.663,0.366000,1.114000,0.433000,0.361000,0.151000,0.089000,2019
778,3.875,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,2017
779,3.692,0.357000,1.094000,0.248000,0.406000,0.132000,0.099000,2018
780,4.193,0.350410,0.714780,0.159500,0.254290,0.185030,0.085820,2016
781,4.610,0.271000,1.032760,0.334750,0.258610,0.189870,0.080790,2015

In [33]:
dir_pandas = 'C:\\Users\\GAMER\\Documents\\Estadistica\\Multivariado{}'.format('DataSet2.csv')

In [34]:
df.to_csv(dir_pandas, sep = ',', index = False)

In [27]:
df = df.reset_index()

In [31]:
df = df.dropna()

In [32]:
df.isnull().sum()

index                      0
Country                    0
Score                      0
GDP.per.capita             0
Social.support             0
Healthy.life.expectancy    0
Freedom.to.make.choices    0
Generosity                 0
Perceptions.corruption     0
year                       0
dtype: int64